.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ellipsis {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
